<!--
    Document   : current
    Created on : Aug 30, 2012, 11:07:00 AM
    Author     : the saboteur
-->

<!DOCTYPE html>

<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Show Current Stats</title>
    </head>


     <BODY>
            <table border="1">
                <thead>
                    <tr>
                        <th>Stats for SMU</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Latest Price</td>
                        <td><%=smuLatestPrice%></td>
                    </tr>
                    <tr>
                        <td>Current Highest Bid</td>
                        <td><%=smuHighestBidPrice%></td>
                    </tr>
                    <tr>
                        <td>Current Lowest Ask</td>
                        <td><%=smuLowestAskPrice%></td>
                    </tr>
                </tbody>
            </table>

            <br/><br/>

            <table border="1">
                <thead>
                    <tr>
                        <th>Stats for NUS</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Latest Price</td>
                        <td><%=nusLatestPrice%></td>
                    </tr>
                    <tr>
                        <td>Current Highest Bid</td>
                        <td><%=nusHighestBidPrice%></td>
                    </tr>
                    <tr>
                        <td>Current Lowest Ask</td>
                        <td><%=nusLowestAskPrice%></td>
                    </tr>
                </tbody>
            </table>

            <br/><br/>

            <table border="1">
                <thead>
                    <tr>
                        <th>Stats for NTU</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Latest Price</td>
                        <td><%=ntuLatestPrice%></td>
                    </tr>
                    <tr>
                        <td>Current Highest Bid</td>
                        <td><%=ntuHighestBidPrice%></td>
                    </tr>
                    <tr>
                        <td>Current Lowest Ask</td>
                        <td><%=ntuLowestAskPrice%></td>
                    </tr>
                </tbody>
            </table>

    <hr/>
    Functions available:<br/>
    <ul>
         <li><a href="/buy">Buy</a></li>
        <li><a href="/sell">Sell</a></li>
        <li><a href="/logout">Log out</a></li>
        <li><a href="/current">Current stats</a></li>
        <li><a href="/viewOrders">Unfulfilled orders</a></li>
    </ul>
    </BODY>
</html>